@import "tailwindcss";

.browser-css h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

.browser-css h2 {
    font-size: 1.875rem;
    font-weight: 700;
}

.browser-css h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.browser-css p {
    margin-bottom: 1rem;
}